/**
 * Colors
 */
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-darkest: #222222;
$color-gray-dark: #333333;
$color-gray-medium: #737373;
$color-gray-light: #BBBBBB;
$color-gray-lightest: #F3F3F3;

$color-blue-gray-darkest: #425264;
$color-blue-gray-medium: #657e9a;
$color-blue-gray-light: #9fb5cd;
$color-blue-gray-lightest: #c3cdd9;



/**
 * Breakpoints
 */
$screen-xs-min:480px;
$screen-sm-min:768px;
$screen-md-min:992px;
$screen-lg-min:1200px;
$screen-xl-min:1650px;