.toast {
	color: $color-gray-lightest;
	position: fixed;
	z-index: 1;
	top: 2em;
	right:2em;
	display: inline-block;
	margin: 0 auto;
	background: $color-gray-darkest;
	padding: 1em;
	border-radius: 5px;
	box-shadow: 4px 4px 10px rgba($color-black, .75);
	cursor: pointer;
	border:1px solid $color-gray-lightest;

	p {
		margin: 0;
		display: inline-block;
	}
}