<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Glympse Web Challenge #1</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="msapplication-tap-highlight" content="no" />
        
        <!-- TODO: get bootstrap mixed into app.css with LESS -->

        <!-- build:css(app/) css/app.css -->
        <link rel="stylesheet" type="text/css" href="styles/app.css" />
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css" />
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:js(app/) src/polyfills.js -->
        <script type="text/javascript" src="lib/famous-polyfills/functionPrototypeBind.js"></script>
        <script type="text/javascript" src="lib/famous-polyfills/classList.js"></script>
        <script type="text/javascript" src="lib/famous-polyfills/requestAnimationFrame.js"></script>
        <!-- endbuild -->
        
        <!-- build:js(app/) src/jquery.js -->
        <script type=text/javascript src="lib/jquery/dist/jquery.min.js"></script>
        <!-- endbuild -->
        
        <!-- process:remove:dev -->
        <script type="text/javascript" src="src/main.js"></script>
        <!-- /process -->
        
        <!-- process:remove:dist -->
        <script type="text/javascript" src="lib/requirejs/require.js" data-main="src/requireConfig"></script>
        <!-- /process -->

        <script src="lib/angular/angular.js"></script>
        <script src="src/mapApp.js"></script>
    </head>
    <body>
        <div id="header" class="container-fluid">
            <div class="col-xs-1"><i class="fa fa-bars"></i></div>
            <div class="col-xs-10"><h1>Get Directions</h1></div>
            <div class="col-xs-1"><i class="fa fa-search"></i></div>
        </div>
        <div id="map" class="container-fluid" ng-controller="DirectionsController">
            <!-- short lived loading spinner -->
            <div id="loading">Loading... <i class="fa fa-circle-o-notch fa-spin"></i></div>
        </div>

        <div id="location-menu" ng-controller="NavController">

            <div id="loc-inner" class="ng-hide" ng-show="displayingMenu">

                <button type="button" class="close" ng-click="menuToggle()">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>

                <div id="start-pos-wrap" ng-show="displayingStartPosition">
                    <label for="start-pos">Start</label>
                    <input type="text" id="start-pos" ng-model="startPosField">
                    <br>
                </div>

                <div id="dest-pos-wrap">
                    <label for="dest-post">Destination</label>
                    <input type="text" id="dest-pos" ng-model="destPosField">
                </div>
            </div>
        </div>


        <div id="search-menu" ng-controller="SearchController">
            <div id="search-inner" class="ng-hide" ng-show="displayingSearch">
                
                
            </div>
        </div>
    </body>
</html>
