$destination-image: url(../../content/images/destination.png);
$direction-image: url(../../content/images/direction.png);
$directions-marker-image: url(../../content/images/directions-marker.png);
$list-image: url(../../content/images/list.png);
$map-image: url(../../content/images/map.png);
$marker-image: url(../../content/images/marker.png);
$traffic-on-image: url(../../content/images/traffic-on.png);
$traffic-off-image: url(../../content/images/traffic-off.png);
$show-directions-image: url(../../content/images/show-directions.png);
