#list-panel {
	flex:1;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: scroll;
	padding: .5em;
}

li{
	background-color: #FFF;
	border-bottom: solid 3px #DEDEDE;
	border-top: solid 2px #FFF;
	margin:.75em;
	padding:.5em;
	cursor:default;
	&:hover {
		border-bottom: solid 3px #AAA;
	}
}